<!-- <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PRAJAKTA</h5>
        <p class="card-text">IPHONE WALI PRAJAKTA</p>
        <a href="#" class="btn btn-success">Attempt Quiz</a>
      </div>
    </div>
  </div>
</div>
 -->

<div class="row">
 
  <!-- <label for="quizname">Title</label> -->
  <div *ngFor="let tut of current" class="col-sm-4">
    <!-- {{ tut.quizname }} -->
    <form>
      <div class="card">
        <div class="card-body">
        <!-- <input
          type="text"
          class="form-control"
          id="quizname"
          [(ngModel)]="tut.quizname"
          name="quizname"
        /> -->
        <h4  id="quizname"  name="quizname" class="card-title">
          {{tut.quizname}}
        </h4>
        <a class="btn btn-success" (click)="quizeRounting(tut.id)">Attempt Quiz</a>
      </div>
    </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
